<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="map"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plats">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Plats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
