<ion-header>
  <ion-toolbar>
    <ion-title>ajouter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="performForm(platForm.value)" #platForm='ngForm'>
    <ion-list>
      <ion-item>
        <ion-label>Nom</ion-label>
        <ion-input type="text" required minlength="2" [(ngModel)]="plat.nom" name="nom" #nomPlat='ngModel'></ion-input>
        <ion-text *ngIf="nomPlat.errors?.required" color='danger'>Champ obligatoire!</ion-text>
        <ion-text *ngIf="nomPlat.hasError('minlength')" color='danger'>Minimum 2 caractères</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Prix</ion-label>
        <ion-input type="number" required [(ngModel)]="plat.prix" name="prix"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea name="description" [(ngModel)]="plat.description" name='description'>
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit">Ajouter</ion-button>
  </form>
</ion-content>