<ion-header>
  <ion-toolbar>
    <ion-title>modifier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <fieldset [formGroup]="platFOrm">
      <legend>💁 sur le plat</legend>
      <ion-list>
        <ion-item>
          <ion-label>Nom</ion-label>
          <ion-input type="text" [formControl]="nomControl"></ion-input>
          <ion-text *ngIf="nomControl.errors?.required" color='danger'>Champ obligatoire!</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Prix</ion-label>
          <ion-input type="number" name="prix" formControlName="prix"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea name="description" name='description' formControlName="description">
          </ion-textarea>
        </ion-item>
      </ion-list>
      <ion-text color='warning' *ngIf='!platFOrm.valid'>Section obligatoire</ion-text>
      <ion-button type="button" (click)="update()" [disabled]='!platFOrm.valid'>Modifier</ion-button>
    </fieldset>
  </form>
</ion-content>