<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des plats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listes des plats</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let plat of plats">
      <ion-label (click)="redirectTo(plat.id, plat.nom)">{{ plat.nom }}</ion-label>
      <ion-label>{{ plat.prix }}</ion-label>
      <ion-label>{{ plat.description ?? '-' }}</ion-label>
      <ion-icon name="trash" (click)="remove(plat.id)" color='danger'></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/plats/ajouter">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>